---
layout: default
title: blog
pagination:
  enabled: true
  collection: posts
  permalink: /page/:num/
  per_page: 5
  sort_field: date
  sort_reverse: true
  trail:
    before: 1 # The number of links before the current page
    after: 3  # The number of links after the current page
---

<div class="post">

  <div class="header-bar">
    <h1>{{ site.blog_name }}</h1>
    <p><i>{{ site.blog_description }}</i></p>
  </div>

  <article>

    <div class="news">
      <div class="table-responsive">
        <table class="table table-sm table-borderless">
        {% for post in paginator.posts %} 
          {% assign read_time = post.content | number_of_words | divided_by: 80 | plus: 1 %}
          <tr>
            <th scope="row">{{ post.date | date: "%b %-d, %Y" }}</th>
            <td>
              <a class="news-title" href="{{ post.url | prepend: site.baseurl  }}">{{ post.title }}</a>
            </td>

            <td>
              {{ read_time }} min read
            </td>
          </tr>
        {%- endfor %} 
        </table>
      </div>
    </div>

  </article>

  {% include pagination.html %}

</div>
